.MainChat
  .MainChat__GroupInfo
    .MainChat__GroupInfo__TopBox
      .MainChat__GroupInfo__TopBox__HeaderLogo
        .MainChat__GroupInfo__TopBox__HeaderLogo__GroupName
          = @group.name
        .MainChat__GroupInfo__TopBox__HeaderLogo__BottomBox
          Member :
          - @group.users.each do |user|
            = user.name
      .MainChat__GroupInfo__TopBox__EditBtn
        = link_to edit_group_path(@group), class: "editbtn" do
          Edit

  .MainChat__MessageList
    .MessageField
      = render @messages
    
  .MainChat__MessageForm
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .MainChat__MessageForm__InputContent
        =f.text_field :content, class: 'MainChat__MessageForm__InputContent__FormInputContent', placeholder: 'type a message'
        =f.label :image, class: 'InputBox' do
          = icon('far', 'image')
          = f.file_field :image, class: 'FormInputImage'
        = f.submit 'Send', class: 'Form__submit'