.SideBar
  .SideBar__SideHeader
    .SideBar__SideHeader__Name
      .SideBar__SideHeader__Name__User
        = current_user.name
      .SideBar__SideHeader__Name__Icons
        = link_to new_group_path, class: "icon1" do
          = icon('far', 'edit')
        = link_to edit_user_path(current_user) , class: "icon2" do
          = icon('fas', 'cog')
  
  .SideBar__GroupList
    - current_user.groups.each do |group|
      .SideBar__GroupList__SideBox
        = link_to group_messages_path(group) do
          .SideBar__GroupList__SideBox__GroupName
            = group.name
          .SideBar__GroupList__SideBox__Message
            = group.show_last_message